<div class="container">
    <div id="tfheader">
        <form id="tfnewsearch" method="get">
                <input type="text" class="tftextinput" name="q" size="21" maxlength="120" ng-model="courseID">
                <input type="submit" value="search" class="tfbutton" ng-click="searchID()">
        </form>
    <div class="tfclear"></div>
    </div>
  <div id="timeline" style="height: 100%; wideth:100%;"></div>

  <table style="width:100%;">
  <caption>Time Table</caption>
  <tr>
    <th></th>
    <th>07:00 - 08:00</th>
    <th>08:00 - 09:00</th>
    <th>09:00 - 10:00</th>
    <th>10:00 - 11:00</th>
    <th>11:00 - 12:00</th>
    <th>12:00 - 13:00</th>
    <th>13:00 - 14:00</th>
    <th>14:00 - 15:00</th>
    <th>15:00 - 16:00</th>
    <th>16:00 - 17:00</th>
    <th>17:00 - 18:00</th>
    <th>18:00 - 19:00</th>
    <th>19:00 - 20:00</th>
    <th>20:00 - 21:00</th>
  </tr>
  <tr>
    <th>Sunday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Monday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Tuesday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Wednesday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Thursday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Friday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Saturday</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
