<div class="container" ng-controller="tableCtrl">

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Login to Your Account</h1><br>
                  <form data-toggle="validator" role="form">
                    <input type="text" name="user" data-minlength="6" class="form-control" placeholder="Student ID" ng-model="username">
                    <div class="help-block">Must be 9 number</div>
                    <input type="password" name="pass" class="form-control" placeholder="Password">
                    <div>
                                <h5>Any password</h5>
                            </div>
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login" data-dismiss="modal">
                  </form>
                    
                </div>
            </div>
          </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Drop from this section?</h4>
      </div>
      <div class="modal-body">
        {{dropName}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="drop()">Drop</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="page-header text-center">
        <h3>Registration</h3>
    </div>

    <div>
        <h4>How to use</h4>
        <h4>1. Input you course ID you want to see in search box. Enrolled Course will show in table below</h4>
        <h4>2. Click on course label that you want to enroll</h4>
        <h4>3. If you want to drop the course just click that course label</h4>
        <h4>4. Export to JSON file by click button below the table</h4>
    </div>

    <center>
    <form class="form-inline" role="form">
    <div class="form-group">
    <label><i class="fa fa-globe"></i> Course ID: </label>
    <input id="text" type="text" class="form-control" ng-model="courseID" bs-options="course for course in courses" placeholder="Enter Course Id" onClick="SelectAll('text');" bs-typeahead>
    <input type="submit" value="Search" ng-click="searchID()">
    </div>
    </form>
    <div class="alert alert-danger" role="alert" ng-show="error !== ''">
        <center><h4>{{error}}</h4></center>
    </div>
    </center>

  <div id="timeline" style="height: 100%; wideth:100%;"></div>
  <div id="etable_div"></div>
  <button type="button" class="btn btn-default" ng-click="exportJSON()">Export to JSON</button>

</div>
